/* Overall Layout ---------------- */

h1 {
    padding: 0 0 10px;
    /*text-align: center;*/
    /*border-bottom: 1px solid #ddd;*/
}

.top, footer {
    background-color: #ECECEC;
}

.top .desc {
    width: 800px;
    margin: 0 auto;
    padding: 0 0 20px 0;
}

.top.sorting {
    background-color: #d5d5d5;
    color: black;
    padding: 10px 0;
}

.top .container {
    width: 800px;
    margin: 0 auto;
    padding: 0px;
}

.top .container #logged-in {
    float: left;
}

.top .container .right {
    float: right;
    text-align: right;
}

.login-options {
    width: 60%;
    margin: 0 auto;
    border: 1px solid #ddd;
}

.create-account, .login-box {
    width: 50%;
    float: left;
    padding: 10px 0;
}

.create-account {
    border-right: 1px solid #ddd;
}

.user-status {
    color: #000;
    font-weight: bold;
    margin: 0px;
    width: 800px;
    margin: 0 auto;
    text-align: center;
}

.user-status .left {
}

.user-status .logged-status {
    margin: 10px 0;
}

.user-status button {
    margin: 0 0 0 5px;
    float: right;
}

input, .checkbox {
    display: block;
    margin: 0 auto 5px;
}

.checkbox {
    width: 170px;
}

.checkbox input[type=checkbox] {
    margin-left: 0px;
}

.checkbox label {
    padding-left: 10px;
    font-size: 13px;
}

.session {
    margin: 20px 0;
    border-bottom: 1px solid #ddd;
}

div.session.voted .gray {
    display: none;
}

div.session.unvoted .orange {
    display: none;
}

div.session.voted .votes-box .count {
    background-color: #FFA767;
}

.content-box {
    width: 86%;
    float: left;
}

.content-box h3 {
    margin-top: 0px;
}

p.author {
    font-size: 12px;
    color: #888;
}

.votes-box {
    width: 10%;
    float: left;
    margin-right: 4%;
}

.votes-box .count {
    background-color: #DDD;
    text-align: center;
    font-size: 28px;
    padding: 10px;
    box-sizing: border-box;
}

.num-label {
    font-size: 14px;
}

.thumbs {
    text-align: center;
    padding: 10px 0;
}

.thumbs img {
    width: 40px;
}

footer {
    margin: 20px 0 0 0;
    padding: 20px 0;
}

.footer-content {
    width: 800px;
    margin: 0 auto;
}

.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}

@media (min-width: 1200px){
    .container {
        width: 800px;
    }
}

/* Propose a talk ---------------- */

#propose label {
    display: block;
}

#propose input, #propose textarea {
    width: 100%;
    margin: 0 0 10px;
}

#propose textarea {
    height: 100px;
}

#propose button {
    float: right;
}

div.mine {
    border-bottom: 2px solid red;
    border-left: 2px solid red;
    padding-left: 5px;
}