h1 {
	padding: 0 0 10px;
	/*text-align: center;*/
	/*border-bottom: 1px solid #ddd;*/
}

.top, footer {
	background-color: #ECECEC;
}

.top .desc {
	width: 800px;
	margin: 0 auto;
	padding: 0 0 20px 0;
}

.user-status {
	color: #000;
	font-weight: bold;
	margin: 0px;
	width: 800px;
	margin: 0 auto;
}

.user-status .left {
}

.user-status .logged-status {
	margin: 10px 0;
}

.user-status button {
	margin: 0 0 0 10px;
}

div.session.voted {
    background-color: lightgreen;
}

footer {
	margin: 20px 0 0 0;
	padding: 20px 0;
}

.footer-content {
	width: 800px;
	margin: 0 auto;
}


@media (min-width: 1200px){
	.container {
		width: 800px;
	}
}