/* Overall Layout ---------------- */

.row {
    margin: 0 0 0 0;
}

.lt-container {
    width: 100%;
    max-width: 800px;
    padding: 0px;
    margin: 0 auto;
}

.icon {
    margin: 20px 0 0 0;
}

.icon img {
    vertical-align: middle;
    background-color: #FFF;
    border-radius: 40px;
    padding: 10px;
    box-shadow: 0px 1px 10px #C39A0D;
    width: 83px;
}

hr {
    border-top: 1px solid #ddd;
}

#user-id {
    font-weight: bold;
}

.top, footer {
    /*background-color: #ECECEC;*/
    background-color: #E99700;
}

.top .desc {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    padding: 0 0 20px 0;
}

.top.sorting {
    background-color: #d5d5d5;
    color: black;
    padding: 10px 20px;
}

.inside {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    padding: 0px;
}

.status-bar {
    background-color: #9F3E00;
    color: white;
    padding: 10px 0;
}

.user-status {
    color: #000;
    margin: 0px;
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
    padding: 0 0 10px;
}

.user-status h1 {
    font-weight: bold;
    color: white;
    text-shadow: 2px 2px #CD7D00;
}

.user-status p {
    color: white;
}

.user-status .logged-status {
    margin: 10px 0;
}

.user-status button {
    margin: 0 0 0 5px;
    float: right;
}

.all-sessions {
    margin: 20px 0;
}

.session {
    margin: 20px 0px;
    border-bottom: 1px solid #EEE;
    padding: 0 0 10px;
}

.session:last-child {
    border-bottom: none;
}

div.session.voted .gray {
    display: none;
}

div.session.unvoted .orange {
    display: none;
}

.content-box {
    max-width: 89%;
    float: left;
}

.content-box h3 {
    margin-top: 0px;
    font-size: 20px;
}

p.author {
    font-size: 12px;
    color: #888;
}

.votes-box {
    width: 8%;
    float: left;
    margin-right: 3%;
    min-width: 60px;
}

.votes-box .count {
    background-color: #efefef;
    text-align: center;
    font-size: 24px;
    padding: 5px;
    box-sizing: border-box;
}

.num-label {
    font-size: 12px;
}

.thumbs {
    text-align: center;
    padding: 10px 0;
}

.thumbs img {
    width: 40px;
}

/*div.mine .author {
    border: 1px solid red;
}*/

footer {
    margin: 50px 0 0 0;
    padding: 10px 0 50px;
}

.footer-content {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
}

.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}

/* Propose a talk ---------------- */

#propose {
    padding: 0px;
    margin-top: 10px;
}

#propose label {
    display: block;
}

#propose input, #propose textarea {
    width: 100%;
    margin: 4px 0 10px;
    border: 1px solid #DDD;
    padding: 10px;
    font-weight: normal;
}

#propose textarea {
    height: 100px;
}

#propose button {
    float: left;
    color: #FFF;
    background-color: #DA7A08;
    border: 1px solid #BD7015;
    font-size: 1.2em;
    padding: 7px 36px;
    text-transform: uppercase;
    border-radius: 4px;
    text-shadow: 2px 2px #CB6F01;
    box-shadow: 1px 1px 1px #8E5007;
}

#propose button:hover {
    background-color: #B96704;
}

.footer-content h4 {
    margin: 25px 0 8px;
}

/* Login Page ---------------- */

.logged-status p {
    font-weight: bold;
    padding: 0 0 3px 0;
}

.top .login-container #logged-in {
    float: left;
}

.top .login-container .right {
    float: right;
    text-align: right;
}

.login-options {
    margin: 40px auto 0;
}

.create-account, .login-box {
    width: 46%;
    float: left;
    padding: 20px;
    background-color: #EEE;
}

.create-account {
    margin-right: 4%;
}

input, .checkbox {
    display: block;
    margin: 0 0 7px;
    width: 100%;
}

input {
    padding: 10px;
    border: 1px solid #DDD;
}

.checkbox {
    padding: 10px 5px;
}

.checkbox input[type=checkbox] {
    margin-left: 0px;
    float: left;
    position: relative;
    width: 10px;
}

.checkbox label {
    padding-left: 10px;
    font-size: 13px;
    float: left;
}

#submit-login, #submit-login-s {
    color: #FFF;
    background-color: #08A5DA;
    border: 1px solid #1593BD;
    font-size: 1.1em;
    padding: 5px 25px;
    text-transform: uppercase;
    border-radius: 4px;
    text-shadow: 2px 2px #0198CB;
    box-shadow: 1px 1px 1px #07828E;
}

#submit-login:hover, #submit-login-s:hover {
    background-color: #0794C3;
}

#submit-login-s {
    margin-top: 10px;
}



@media only screen and (max-width : 991px) {
    .content-box { width: 87%; }
}

@media only screen and (max-width : 800px) {
    .lt-container, .footer-content { padding: 0 15px; }
}

@media only screen and (max-width : 685px) {
    .content-box { width: 85%; }
}

@media only screen and (max-width : 600px) {

    .top .login-container #logged-in {
        float: none;
        width: 100%;
        text-align: center;
        margin-bottom: 4px;
    }

    .top .login-container .right {
        float: none;
        text-align: center;
        width: 100%;
    }

}


@media only screen and (max-width : 550px) {
    .content-box { width: 77%; }
    .create-account, .login-box {
        width: 100%;
        margin: 0 0 10px 0;
        float: none;
    }
    .user-status {
        padding: 0 15px 10px 0;
    }
}


































