<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>NICAR 15 Lightning Talks</title>

    <!-- Bootstrap -->
    <style type="text/css">{% include "static/bootstrap.min.css" %}</style>

    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <style type="text/css">{% include "static/site.css" %}</style>
  </head>
  <body>
    <div class="header">
      <div class="row user-status">
        <div id="logged-in" style="display:none;">
            Hello <span id="user-id"></span>!
            <button id="submit-logout">Log out</button>
        </div>
        <div id="logged-out" style="display:none;">
            <input id="email-login" type="text" placeholder="email" value=""></input>
            <input id="password-login" type="password" placeholder="password" value=""></input>
            <input id="name-login" type="text" placeholder="display name" value=""></input>
            <button id="submit-login">Log in / Register</button>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row intro">
          <h1>NICAR 2015 Lightning Talks</h1>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
      </div>

      {% block content %}{% endblock %}
    </div>
    <footer>
      <div class="footer-content">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
      </div>
    </footer>

    <script type="text/javascript">{% include "static/jquery.min.js" %}</script>
    <script type="text/javascript">{% include "static/jquery.cookie.min.js" %}</script>
    <script type="text/javascript">{% include "static/fingerprint.min.js" %}</script>
    <script type="text/javascript">{% include "static/site.js" %}</script>
  </body>
</html>