<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>NICAR 2015 Lightning Talks</title>

    <!-- Bootstrap -->
    <link href='http://fonts.googleapis.com/css?family=Oswald:400,700,300' rel='stylesheet' type='text/css'>
    <style type="text/css">{% include "static/bootstrap.min.css" %}</style>

    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <style type="text/css">{% include "static/site.css" %}</style>
  </head>
  <body>
    <div class="top">
      <div class="row user-status">
        <div class="left">
          <h1>NICAR 2015 Lightning Talks</h1>
          <p>Pitches due XXX, XXX, XXXX. Voting opens XXX to XXX.</p>
        </div>
      </div>
    </div>
    <div class="top sorting">
      <div class="login-container inside cf">
        <div id="logged-in" style="display:none;">
          Hello <span id="user-id"></span>!
          <button id="submit-logout">Log out</button>
        </div>
        {% if VOTING == True %}
        <div class="right">
          Sort by:
            <a href="" onclick="tinysort('.all-sessions>.session',{order:'rand'}); return false;">random</a>, 
            <a href="" onclick="tinysort('.all-sessions>.session',{data:'title'}); return false;">alpha</a> or 
            <a href="" onclick="tinysort('.all-sessions>.session',{data:'votes', order:'desc'}); return false;">most popular</a>
        </div>
        {% endif %}
      </div>
    </div>
    <div class="container">
      {% block content %}{% endblock %}
    </div>
    <footer>
      <div class="footer-content">
        <h4>What are lightning talks?</h4>
        <p>5 minute talks on any subject. Anyone who is attending NICAR 2015 can pitch and the attendees vote on the talks they want to see. The 10 talks with the most votes will be presented during NICAR.</p>

        {% if VOTING == False %}
        <h4>What are some example pitches?</h4>
        <p>Here are there pitches that were selected in recent years.</p>
        
        <ul>
          <li>
            <strong>Showing big datasets on small screens</strong>
            <p>When presenting huge data stories, make sure your mobile users aren't left out or forced to load massive datasets. Using WaPo's 2012 mobile election results as an example, I'll talk about creating lightweight data-driven web apps and tailoring the experience for mobile.</p>
          </li>
          <li>
            <strong>Document Armaggeddon! Comparing billions of documents to find copycats, cheaters and thieves</strong>
            <p>Ok, so maybe "billions" is a stretch in practice -- but not in theory! This talk will demonstrate how to use a few lines of Python and Amazon's Elastic MapReduce framework to scan through an arbitrarily large set of documents and find those that are similar. We used it to find recycled bills from previous sessions of the California State Legislature, but the applications are endless.</p>
          </li>
          <li>
            <strong>CoffeeScript: What it is and why it's cool</strong>
            <p>Nothing goes together better than coffee and code do. CoffeeScript makes writing JavaScript much nicer. This simple demo shows off a little code in both languages and an example coffeescript workflow.</p>
          </li>
        </ul>        

        <h4>Still need inspiration?</h4>
        <p>Spend the next 45 minutes <a href="https://ire.org/conferences/nicar-2014/lightning/">watching the lightning talks from 2014</a>!</p>
        {% endif %}
      </div>
    </footer>

    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/tinysort/2.1.1/tinysort.min.js"></script>
    <script type="text/javascript">{% include "static/jquery.min.js" %}</script>
    <script type="text/javascript">{% include "static/jquery.cookie.min.js" %}</script>
    <script type="text/javascript">{% include "static/fingerprint.min.js" %}</script>
    <script type="text/javascript">{% include "static/site.js" %}</script>
  </body>
</html>