<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>NICAR 2015 Lightning Talks</title>

    <!-- Bootstrap -->
    <link href='http://fonts.googleapis.com/css?family=Oswald:400,700,300' rel='stylesheet' type='text/css'>
    <style type="text/css">{% include "static/bootstrap.min.css" %}</style>

    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <style type="text/css">{% include "static/site.css" %}</style>
  </head>
  <body>
    <div class="top">
      <div class="row user-status">
        <div class="left">
          <h1>#NICAR15 Lightning Talks</h1>
          <p>Looking for the <a href="http://www.ire.org/conferences/nicar2015/">conference site</a>?</p>
        </div>
        <div class="logged-status">
          <div id="logged-out" style="display:none;">
            <p>Want to submit or vote for lightning talks at #NICAR15?</p>
            <div class="login-options cf">

              <div class="create-account">
                <p>Create an account:</p>
                <input id="email-login" type="text" placeholder="Email" value=""></input>
                <input id="password-login" type="password" placeholder="Password" value=""></input>
                <input id="name-login" type="text" placeholder="Name" value=""></input>
                <div class="checkbox">
                  <input id="going-to-nicar" type="checkbox"></input>
                  <label>Going to NICAR?</label>
                  <button id="submit-login">Go</button>
                </div>
              </div>
              <div class="login-box">
                <p>Login:</p>
                <input id="email-login-s" type="text" placeholder="Email" value=""></input>
                <input id="password-login-s" type="password" placeholder="Password" value=""></input>
                <div class="checkbox">
                  <button id="submit-login-s">Go</button>
                </div>
              </div>              
            </div>
  
          </div>
        </div>
      </div>
    </div>
    <div class="top status-bar">
      <div class="inside">
        All pitches are due on XXX, XXX, XXXX. Voting begins XXXX and closes XXXXX.
      </div>
    </div>
    <div class="top sorting">
      <div class="login-container inside cf">
        <div id="logged-in" style="display:none;">
          Hello <span id="user-id"></span>!
          <button id="submit-logout">Log out</button>
        </div>
        <div class="right">
          Sort by:
            <a href="" onclick="tinysort('.all-sessions>.session',{order:'rand'}); return false;">random</a>, 
            <a href="" onclick="tinysort('.all-sessions>.session',{data:'title'}); return false;">alpha</a> or 
            <a href="" onclick="tinysort('.all-sessions>.session',{data:'votes', order:'desc'}); return false;">most popular</a>
        </div>
      </div>
    </div>
    <div class="container">
      {% block content %}{% endblock %}
    </div>
    <footer>
      <div class="footer-content">
        <h4>What are lightning talks?</h4>
        <p>There's only one real rule to lightning talks: they must be under 5 minutes long. Anyone who is attending NICAR 2015 can pitch, and the attendees vote on the talks they want to see. The 10 talks with the most votes will be presented during NICAR.</p>

        <img src="http://ire.org/media/uploads/images/conferences/car-15/car15webfrontart_small.png">
      </div>
    </footer>

    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/tinysort/2.1.1/tinysort.min.js"></script>
    <script type="text/javascript">{% include "static/jquery.min.js" %}</script>
    <script type="text/javascript">{% include "static/jquery.cookie.min.js" %}</script>
    <script type="text/javascript">{% include "static/fingerprint.min.js" %}</script>
    <script type="text/javascript">{% include "static/site.js" %}</script>
  </body>
</html>