{% extends "base.html" %}

{% block content %}

<div id="propose" style="display:none;">

    <div class="row">
        <div class="cf" >
            <h2>Propose a Lightning Talk</h2>
            <p><strong>NOTE:</strong> After submitting, you won't be able to edit your pitch.</p>
            <label>Title<input type="text" placeholder="My talk"></input></label>
            <label>Description<textarea placeholder="My talk's description"></textarea></label>
            <button id="submit-create-session">Submit</button>
        </div>
        <div class="" id="please-login">
            <h1>Please login to propose a session.</h1>
        </div>
    </div>

</div>
{% endblock %}