{% extends "base.html" %}

{% block content %}

<div id="propose" style="display:none;">

    <div class="row">
        <div class="cf" >
            <h2>Propose a Lightning Talk</h2>
            <p>Need help? Learn <a href="#what-is">about lightning talks</a>, see <a href="#example-pitches">example pitches</a> and <a href="#inspiration">get inspired</a> below.</p>
            <label>Title<input type="text" placeholder="My talk"></input></label>
            <label>Description<textarea placeholder="My talk's description"></textarea></label>
            <p><strong>Note:</strong> After submitting, you won't be able to edit your pitch! But feel free to submit multiple pitches.</p>
            <button id="submit-create-session">Submit</button>
        </div>
        <div class="" id="please-login">
            <h1>Please login to propose a session.</h1>
        </div>
    </div>

</div>
{% endblock %}