{% extends "base.html" %}

{% block content %}

<div class="all-sessions row">
    {% for session in sessions %}
    <div class="session unvoted {{ session.user }} cf" id="{{ session._id }}" data-title="{{ session.title }}" data-votes="{{ session.votes }}">
        <div class="votes-box">
            {% if VOTING %}
                <div class="count">
                    <div class="num">{{ session.votes }}</div>
                    <div class="num-label">votes</div>
                </div>
                <div class="thumbs">
                    <img class="gray" src="{{ url_for('static', filename = 'thumbs-up-40x40-gray.png') }}">
                    <img class="orange" src="{{ url_for('static', filename = 'thumbs-up-40x40-orange.png') }}">
                </div>
            {% endif %}
        </div>
        <div class="content-box">
            <h3>{{ session.title }}</h3>
            <p class="author">Proposed by: {{ session.username }}</p>
            <p>{{ session.description }}</p>
        </div>
    </div>
    {% endfor %}
</div>

{% endblock %}